%html
  %body
  .side-bar
    .side-bar__box
      .side-bar__box__user-name
        masa
      %ul.side-bar__box-menu
        %li.side-bar__box-menu__new-group
          = link_to "" do
            = icon("fa", "edit", class: "icon")
        %li.side-bar__box-menu__edit-user
          = link_to "" do
            = icon("fa","cog")
    .side-bar__group-list
      .side-bar__group-list__techcamp
        techcamp
      .side-bar__group-list__message
        まだメッセージがありません