%html
  %body
  .side-bar
    .side-bar__box
      .side-bar__box__user-name
        masa
    .side-bar__group-list
      .side-bar__group-list__techcamp
        techcamp
      .side-bar__group-list__message
        まだメッセージがありません