%html
  %body
  .chat_main
    .chat_main__group_info
      .main-header__left-box 
        .main-header__left-box__team-name
          test
        .main-header__left-box__team-member
          member:masa
      .edit-main
        = link_to "#" do
          Edit
    .chat_main_message_list
    .chat_main_message_form
      %form.new-message
        .input-box
          %input{type: "text", class:"input-box__text", placeholder: "type a message" }
          %label{class: "input-box__img"}
            = link_to "" do
              = icon("fa","image")
              %input{type: "file", class: "input-box__img__file"}
        %input{type: "submit", class: "submit-btn"}